<div class=" content">
	<div class=" row">
		<div class="col-12">
			<div class="row">
				<div class="col-3">
					<form>
						Starting budget: {{simulation.budget}} <br>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text form-control">$</span>
							</div>
							<input type="number" class="startSimForm form-control" min="20000" name="budget"
							       max="5000000" aria-label="money" step="1000" [(ngModel)]="simulation.budget"/>
						</div>
						Nbr terrains:
						<div class="input-group">
							<input type="number" class="startSimForm form-control" min="1" name="terrains" [(ngModel)]="simulation.terrainSize"/>
						</div>
						Nbr years:
						<div class="input-group">
							<input type="number" class="startSimForm form-control" min="1" max="200" name="duration" [(ngModel)]="simulation.duration"/>
						</div>
						<div class="card">
							<div class="card-header">
								<h3 class="text-center">Tree Shop</h3>
							</div>
							<div class="card-body scroll">
								<ul class="list-unstyled">
									<li class="media" *ngFor="let t of trees; index as i">
										<img class="align-self-center mr-1" src="{{this.tt.getImageForTree(t)}}"
										     style="background-image: url('./assets/img/tree/tree.jpg'); background-size: cover;"
										     width="30" height="30" alt=""/>
										<div class="media-body">
											<button type="button" class="btn btn-block btn-secondary px-1" (click)="onAddTree(i)">
												{{t.name}}
											</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="card mt-1">
							<div class="card-body text-center">
								<h2>{{simulation.budget - calculateTotalCost() | currency}}</h2>
								<p><ngb-progressbar type="success" height="12px" [value]="calculateMoneyProgress()"></ngb-progressbar></p>
								<hr>
								<h2>{{calculateTerrainAreaLeft() | number}} / {{simulation.terrainSize * 10000 | number}} m²</h2>
								<p><ngb-progressbar type="info" height="12px" [value]="calculateTerrainProgress()"></ngb-progressbar></p>
							</div>
						</div>
					</form>
				</div>
				<div class="col-9">
					<div class="card">
						<div class="card-header">
							<h1 class="text-center">Edit Trees</h1>
						</div>
						<div class="card-body bigScroll">
							<div class="card-deck">
								<div class="card bg-dark mb-4" style="width: 15rem; max-width: 15rem; min-width: 15rem"
									*ngFor="let detail of this.simulation.details; index as i">
									<img class="ard-img-top" src="{{this.tt.getImageForTree(detail.tree)}}"
									     style="background-image: url('./assets/img/tree/tree.jpg'); background-size: cover;"
									     width="240" height="240" alt=""/>
									<div class="card-body clearfix">
										<div class="float-left">
											<h5 class="card-title">{{detail.tree.name}} Tree</h5>
											<h6 class="card-subtitle mb-2 text-muted">150$ Each</h6>
										</div>

										<button type="button" class="btn btn-danger btn-sm float-right" (click)="onRemoveDetail(i)">&times;</button>
									</div>
									<ul class="list-group list-group-flush">
										<li class="list-group-item bg-dark text-white p-1">
											<div class="input-group m-0">
												<div class="input-group-prepend">
													<span class="input-group-text form-control">Quantity</span>
												</div>
												<input class="form-control" type="number" [(ngModel)]="detail.quantity" min="1"/>
											</div>
										</li>
										<li class="list-group-item bg-dark text-white p-1">{{150 * detail.quantity | currency}}</li>
										<li class="list-group-item bg-dark text-white p-1 text-center">
											<div class="custom-control custom-switch">
												<input type="checkbox" class="custom-control-input" [(ngModel)]="detail.isBio" id="isBio{{i}}">
												<label class="custom-control-label" for="isBio{{i}}">Is this Tree Bio?</label>
											</div>
										</li>
										<li class="list-group-item bg-dark text-white p-1">
											Product Cost per year {{(detail.isBio
												? (2.8 * detail.tree.pesticideUsage) + (2.8 * detail.tree.fertilizerUsage)
												: (2 * detail.tree.pesticideUsage) + (2 * detail.tree.fertilizerUsage))
											* detail.quantity
												| currency
											}}
										</li>
										<li class="list-group-item bg-dark text-white p-1">
											Penalty on tree {{1000 / mathLog(detail.quantity) | currency}}
										</li>
										<li class="list-group-item bg-dark text-white p-1">
											Max production : {{detail.isBio
											? detail.tree.maxProduction * 0.65 * detail.quantity
											: detail.tree.maxProduction * detail.quantity}}
										</li>
										<li class="list-group-item bg-dark text-white p-1">
											Max yield : {{calculateTreeYield(detail) | currency}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<hr>
						<div class="card-footer clearfix">
								<h3 class="m-0" style="float: left">Total cost: {{calculateTotalCost() | currency}}</h3>
								<h3 class="m-0" style="float: right">Total yield: {{calculateTotalYield() | currency}}</h3>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-success" (click)="submitSimulation()"
				        [disabled]="calculateTotalCost() > simulation.budget || calculateTerrainAreaLeft() < 0">
					Launch simulation!
				</button>
			</div>
		</div>
	</div>
</div>
