<div class=" content">
	<div class=" row">
		<div class=" col-md-12">
			<div class=" card">
				<div class="card-header">
					<div class="row justify-content-center">
						<div class="col-2">
							<h1>Tree Bank</h1>
						</div>
						<div class="col-1">
							<button type="button" class="btn btn-success">+</button>
						</div>
					</div>

				</div>
				<div class="card-body scroll" style="max-height: 650px;">
					<div class="card-deck">
						<div class="card bg-dark mb-3" *ngFor="let i of [1,2,3,4,5,6,7,8]" style="width:20rem; max-width: 20rem; min-width: 20rem">
							<img src="./assets/img/tree/tree.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h3 class="card-title">Tree Name</h3>
								<p class="card-text">Text with price, production info and stuff like that.</p>
							</div>
							<div class="card-footer">
								<div class="btn-toolbar" role="toolbar">
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#exampleModal">Edit</button>
										<button type="button" class="btn btn-block btn-danger">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button>

			</div>
		</div>
	</div>
</div>
