<div class="wrapper">
	<div class="sidebar">
		<app-sidebar></app-sidebar>
	</div>
	<div class="main-panel">
		<app-navbar></app-navbar>
		<router-outlet></router-outlet>
	</div>
</div>
<div class=" fixed-plugin">
	<div class=" show-dropdown" ngbDropdown>
		<a data-toggle="dropdown" ngbDropdownToggle>
			<i class=" fa fa-cog fa-2x"> </i>
		</a>
		<ul ngbDropdownMenu>
			<li class=" header-title">Sidebar Background</li>
			<li class=" adjustments-line">
				<a class=" switch-trigger background-color" href="javascript:void(0)">
					<div class=" badge-colors text-center">
            <span
		            (click)="changeSidebarColor('red')"
		            [ngClass]="{'active':sidebarColor==='red'}" class=" badge filter badge-danger"
            >
            </span>
						<span
								(click)="changeSidebarColor('primary')"
								[ngClass]="{'active':sidebarColor==='primary'}" class=" badge filter badge-primary"
						>
            </span>
						<span (click)="changeSidebarColor('blue')" [ngClass]="{'active':sidebarColor==='blue'}"
						      class=" badge filter badge-info"> </span>
						<span (click)="changeSidebarColor('green')" [ngClass]="{'active':sidebarColor==='green'}"
						      class=" badge filter badge-success">
            </span>
					</div>
					<div class=" clearfix"></div>
				</a>
			</li>
			<li class=" adjustments-line text-center color-change">
				<span class=" color-label"> LIGHT MODE </span>
				<span (click)="changeDashboardColor('white-content')" class=" badge light-badge mr-2"> </span>
				<span (click)="changeDashboardColor('black-content')" class=" badge dark-badge ml-2"> </span>
				<span class=" color-label"> DARK MODE </span>
			</li>
		</ul>
	</div>
</div>
