<div class=" content">
	<div class=" row">
		<div class=" col-md-12">
			<div class="card">
				<div class=" card-header"><h1 class="text-center">Simulation Archive</h1></div>
				<div class=" card-body medScroll">
					<div class="row">
						<div class="col-4 archive" *ngFor="let s of simList" style="height:80px" (click)="getOneSim(s.id)">
							<div class="row">
								<div class="col-4 mt-3">
									<img class="align-self-center mr-1 my-auto" src="{{this.tt.getImageForTree(s.details[0].tree)}}"
									     style="background-image: url('./assets/img/tree/tree.jpg'); background-size: cover;"
									     width="50" height="50" alt=""/>
								</div>
								<div class="col-8 mt-3">
									<h3>{{s.createdAt | date}}</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="currentSim">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<button class="btn btn-warning form-control" (click)="viewSimGraph(currentSim.id)">View simulation</button>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-3">
							<img class="" src="{{this.tt.getImageForTree(currentSim.details[0].tree)}}" width="240" height="240" style="background-image: url('./assets/img/tree/tree.jpg')">
						</div>
						<div class="col-md-9" style="font-size:20px;">
							<table class="table table-hover">
								<tr class="table-header">
									<td><b>Simulation Date</b></td>
									<td><b>Simulation Budget</b></td>
									<td><b>Simulation Yield</b></td>
									<td><b>Total penalty</b></td>
								</tr>
								<tr>
									<td>{{currentSim.createdAt | date : 'short' : '+0000'}}</td>
									<td>{{currentSim.budget | currency}}</td>
									<td>{{this.tt.calculateTotalYield(currentSim) | currency}}</td>
									<td>{{getSimPenalty() | currency}}</td>
								</tr>
								<tr class="table-header">
									<td><b>Simulation Duration</b></td>
									<td><b>Number of Trees</b></td>
									<td><b>Terrain Bought</b></td>
									<td><b>Pesticide & Fertilizer cost</b></td>
								</tr>
								<tr>
									<td>{{currentSim.duration}} years</td>
									<td>{{getNumberTrees('total')}} trees, {{getNumberTrees('species')}} species</td>
									<td>{{currentSim.terrainSize * 10000 | number}} m²</td>
									<td>{{getStuffSim() | currency}}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
