<div class=" content">
	<div class=" row">
		<div class="col-12">
			<div class="row">
				<div class="col-3">
					<form id="newSim">
						Starting budget: <br>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="Budget input-group-text form-control">$</span>
							</div>
							<input name="Budget" id="Budget" type="number" class="startSimForm form-control" min="20000" max="5000000" value="300000" aria-label="money" step="1000">
						</div>
						Nbr terrains:
						<div class="input-group">
							<input name="NbTerrains" id="nbTerrains" type="number" class="startSimForm form-control" min="1" value="10">
						</div>
						Nbr years:
						<div class="input-group">
							<input name="nbAnnee" id="nbAnnee" type="number" class="startSimForm form-control" min="1" max="200" value="5">
						</div>
						<div class="card">
							<div class="card-header">
								<h3>Tree Shop</h3>
							</div>
							<div class="card-body">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
									</tbody>

								</table>
							</div>
						</div>
					</form>

				</div>
				<div class="card col-9">
					<div class="card-header">
						<h2>Card Test for Trees</h2>
					</div>
					<div class="card-body">
						I no right?
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-success">Launch simulation!</button>
			</div>
		</div>
	</div>
</div>
