<div class=" content">
	<div class=" row">
		<div class="col-12">
			<div class="row">
				<div class="col-3">
					<form id="newSim">
						Starting budget: <br>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="Budget input-group-text form-control">$</span>
							</div>
							<input name="Budget" id="Budget" type="number" class="startSimForm form-control" min="20000" max="5000000" value="300000" aria-label="money" step="1000">
						</div>
						Nbr terrains:
						<div class="input-group">
							<input name="NbTerrains" id="nbTerrains" type="number" class="startSimForm form-control" min="1" value="10">
						</div>
						Nbr years:
						<div class="input-group">
							<input name="nbAnnee" id="nbAnnee" type="number" class="startSimForm form-control" min="1" max="200" value="5">
						</div>
						<div class="card">
							<div class="card-header">
								<h3>Tree Shop</h3>
							</div>
							<div class="card-body scroll">
								<table class="table table-hover">
									<tbody>
										<tr>
											<td>
												<div class="row">
													<div class="col-3">
														<img src="./assets/img/tree/coconut.jpg">
													</div>
													<div class="col-9">
														<h5>Coconut Tree</h5>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="row">
													<div class="col-3">
														<img src="./assets/img/tree/lemon.jpg">
													</div>
													<div class="col-9">
														<h5>Lemon Tree</h5>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>
												<div class="row">
													<div class="col-3">
														<img src="./assets/img/tree/kiwi.jpg">
													</div>
													<div class="col-9">
														<h5>Kiwi Tree</h5>
													</div>
												</div>
											</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
										<tr>
											<td>Test</td>
										</tr>
									</tbody>
									<div class="scrollbar scrollbar-frozen-dreams">
										<div class="force-overflow"></div>
									</div>
								</table>
							</div>
						</div>
					</form>
				</div>
				<div class="col-9">
					<h1 class="text-center">2'000'000 $</h1>
					<h2 class="text-center">10'000  m²</h2>
					<div class="card">
						<div class="card-header">
							<h1 class="text-center">Edit Trees</h1>
						</div>
						<div class="card-body bigScroll">
							<div class="row">
								<div class="col-md-2">
									<div class="card bg-dark">
										<div class="card-header">
											<button type="button" class="close" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h3>Tree Name</h3>
										</div>
										<img class="card-img-top" src="./assets/img/tree/coconut.jpg">
										<div class="card-body">
											150$ each
											<input type="number" min="1" max="50" class="form-control" value="1">
											(price * quantity)
											<label>Bio : <input type="checkbox"></label><br>
											(penalty)
											(productivity)
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="card bg-dark">
										<div class="card-header">
											<button type="button" class="close" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<h3>Tree Name</h3>
										</div>
										<img class="card-img-top" src="./assets/img/tree/kiwi.jpg">
										<div class="card-body">
											150$ each
											<input type="number" min="1" max="50" class="form-control" value="1">
											(price * quantity)
											<label>Bio : <input type="checkbox" class="form-control"></label><br>
											(penalty)
											(productivity)
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-block btn-success">Launch simulation!</button>
			</div>
		</div>
	</div>
</div>
