<div class=" content">
	<div class=" row">
		<div class=" col-md-12">
			<div class=" card">
				<div class="card-header">
					<div class="row justify-content-center">
						<div class="col-2">
							<h1>Tree Bank</h1>
						</div>
						<div class="col-1">
							<button type="button" class="btn btn-success" (click)="open()">+</button>
						</div>
					</div>

				</div>
				<div class="card-body scroll" style="max-height: 650px;">
					<div class="card-deck">
						<div class="card bg-dark mb-3" *ngFor="let t of trees" style="width:20rem; max-width: 20rem; min-width: 20rem">
							<img src="{{this.service.getImageForTree(t)}}" class="card-img-top" alt="" width="320" height="320" style="background-image: url('./assets/img/tree/tree.jpg'); background-size: cover;">
							<div class="card-body">
								<h3 class="card-title">{{t.name}}</h3>
								<p class="card-text"></p>
							</div>
							<ul class="card-text">
								<li>Max Diameter: {{t.maxDiameter}} m</li>
								<li>Max Production: {{t.maxProduction}}/year</li>
								<li>Max Age: {{t.maxAge}} years</li>
								<li>Yields ${{t.mrpPerKg}}/kg</li>
								<li>Pesticide Usage: {{t.pesticideUsage}}</li>
								<li>Fertilizer Usage: {{t.fertilizerUsage}}</li>
							</ul>
							<div class="card-footer">
								<div class="" role="toolbar">
									<div class="" role="group">
										<button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#exampleModal" (click)="open(t)">
											Edit
										</button>
										<button type="button" class="btn btn-danger mx-2" (click)="delete(t)">Delete</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
